@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form method="post" enctype="multipart/form-data" action="/Authorization/Login">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                <input name="username" type="text" class="form-control">
                <label>Email address</label>
            </div>
            <hr class="hr my-3" />
            <div class="form-floating">
                <input name="password" type="password" class="form-control" placeholder="Password">
                <label>Password</label>
            </div>
            <hr class="hr my-3" />
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
        <div class="row justify-content-center form-outline">
            <div class="col-md-4 col-sm-12">
                <p>@TempData["AuthError"]</p>
            </div>
        </div>
        <hr class="hr my-3" />
        <div class="text-center">
            <a class="w-100 btn btn-lg btn-success" asp-area="" asp-controller="authorization" asp-action="signup">Create account</a>
        </div>
    </div>

    @* <h1 class="display-4">Welcome</h1>
    <form method="post" enctype="multipart/form-data" action="/Home/Index">
    <div class="form-group">
    <label for="file">Select File:</label>
    <input type="file" name="file" id="file" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
    </form> *@

</div>
